
html, body {
  padding: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.widget {
  width: 1400px;
  margin-bottom: 60px;
  display: flex;
  align-items: flex-end;
}

.banner {
  border: 3px solid #f4c639;
  border-radius: 4px;
  width: 360px;
  height: 260px;
  flex-basis: 360px;
  margin-right: 40px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

.banner-title {
  width: 100%;
  padding: 8px 16px;
  height: 50px;
  font-size: 24px;
  font-family: Arial;
  line-height: 1.25;
  box-sizing: border-box;
  border-top: 3px solid #f4c639;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-value {
  margin-left: 5px;
}


.entry {
  margin-bottom: 10px;
  width: 1000px;
  display: flex;
  align-items: flex-end;
}

.entry:last-child {
  margin-bottom: 0;
}

.entry .label {
  flex: 1;
  position: relative;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
}

.entry .label::after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #f4c639 0%,#e14d5c 100%);
  transform: skew(-25deg);
  width: 0;
  animation: fillup .3s ease-out forwards;
}

.progress {
  width: 636px;
  height: 50px;
  display: block;
  -webkit-appearance: none;
  transform: skew(-30deg);
  opacity: 0;
  animation: showup .3s ease-out forwards;
  animation-delay: .3s;
}

.progress::-webkit-progress-bar {
  background: url('meter-dark.svg');
}

.progress::-webkit-progress-value {
  background: url('meter.svg');
  transition: width .3s;
}

@keyframes fillup {
  from { width: 0; }
  to { width: calc(100% - 13px) }
}

@keyframes showup {
  from { opacity: 0; }
  to { opacity: 1; }
}
